@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

.login{
    display: flex;
    flex-direction:row;
    justify-content: center;

}
.login-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    height: 300px;
    margin-right: 60px;
    margin-top: 50px;
}
.login-heading h1{
    color: teal;
    font-family: "Arimo", sans-serif;
    font-size: 60px;
}
.login-heading h2{
    color:black;
    font-family: "Arimo", sans-serif;
    font-size: 15px;
}
.login-heading h3{
    color:teal;
    font-family: "Arimo", sans-serif;
    font-size: 25px;
}
.login-heading h4{
    color:black;
    font-family: "Arimo", sans-serif;
    font-size: 15px;
}
.login-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    background: beige;
    border-radius: 40px;
    width: 380px;
    margin-top: 50px;
}
.login h1{
    font-family: "Arimo", sans-serif;
    color: teal;
}
.login-form input{
    border: none;
    outline: none;
    padding: 8px;
    margin-top: 10px;
    border-bottom: 1px solid teal;
    font-family: "Arimo", sans-serif;
    font-size: 12px;
}
.login-form button{
    border: none;
    outline: none;
    background: teal;
    color: beige;
    margin-top: 10px;
    border-radius: 20px;
}
