@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    background: teal;
    margin-top: 40px;
}
.footer h1{
    color: beige;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    
}
.footer-contact h2{
    color: beige;
    font-family: "Arimo", sans-serif;
}
.footer-contact p{
    color: white;
    font-family: "Arimo", sans-serif;
    padding: 0;
    margin: 3px;
    font-size: 13px;
}
.footer-info{
    width: 30%;
    margin-right: 50px;
}
.footer-info h2{
    color: beige;
    font-family: "Arimo", sans-serif;
    font-size: 50px;
}
.footer-info p{
    color: beige;
    font-family: "Arimo", sans-serif;
    font-size: 12px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.footer-links h2{
    color: beige;
    font-family: "Arimo", sans-serif;
    margin-right: 10px;
    
}
.footer-links a{
    text-decoration: none;
    color: beige;
    font-size: 12px;
    margin: 3px;
}