@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

.navbar-brand {
    font-family: "Arimo",sans-serif;
    color: teal;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}
.nav-link{
    color: teal !important;
    font-family: "Arimo", sans-serif;
    padding: 0;
    margin: 0;
}
.active:hover{
    border-bottom: 0.5px solid black;
}

.navbar{
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
}
.navbar-nav button{
    border: none;
    outline: none;
    color: teal;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-left: 3px;
    font-family: "Arimo", sans-serif;
}